
// default font
$fontFamily: "Roboto";

// var
$minWidth: 320px;
$maxWidth: 1400px;
$maxWidthContainer: 1180px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.App {
  
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 20px;
}

